body {
  background-color: #eeeeef;
  font:71%/165% "Lucida Grande", Lucida, Verdana, sans-serif;

}

iframe {
  width: 1000px;
  height: 800px;
  overflow: auto;
  border: solid 1px;
}

ul, li {
  list-style-type:none;
  padding: 0;
  margin: 0;
}


a.abutton {
  color: black;
  background-color: #efeefe;
  
  border-style: solid;
  border-width: thin;
  border-color: black;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  
  padding: 2px 6px;  
  
  -moz-box-shadow: inset 0 0 3px #888;
  -webkit-box-shadow: inset 0 0 3px #888;
  box-shadow: inset 0 0 3px #888;  
}

a.abutton:hover, 
a.abutton:focus {
  color:#dd2c0d;
}


/* ------------------ flags ------------ */

img.flag {
  border-width: 1px;
  border-style: solid;
  margin-left: 5px;
}

/* -------------- sections ------------ */
#wrapper {
  border-style: solid;
  border-width: 1px;
  background-color: white;
  padding: 5px;
  width: 1050px;
  margin: 0 auto;
}

#header{
  height: 50px;
}

#pages_filter{
  width: 100px;
  float: left; 
  
  border-right-style: double;
  border-right-width: 3px;
  margin-right: 0; 
  margin-bottom: 30px;
}

#pages_list{
  margin-left: 100px;
  padding-left: 10px;
  border-left-style: double;
  border-left-width: 3px;
  margin-bottom: 30px; 
}

#logout {
  margin-top: 5px;
  margin-right: 5px;
  float: right;  
}
#logout b {
  margin-right: 5px;
}


#flash {
  background-color: #d0eeee;
  padding: 3px;
  margin-right: 200px;
  /* top: 5px;
  width: 400px;
  margin: 0 auto; */  
  
  border-style: solid;
  border-width: thin;
  margin-bottom: 8px;
}

#footer {
  
  padding: 15px;
  clear: both;
  text-align: center;
  border-top-style: solid;
  border-top-width: 1px;
}

#admin_actions li {
  padding: 8px;
}

ul#admin_actions {
  margin-bottom: 30px;
}

a.admin_action {
  width: 200px;
}


div.outer_actions {
  padding-bottom: 15px;
  border-bottom: solid 1px;
  margin-bottom: 15px;
}


/* ------------------- crumbs --------------- */
#crumbs {
  height:2.3em;
  border:1px solid #dedede;
  }
#crumbs li {
  float:left;
  line-height:2.3em;
  color:#777;
  padding-left:.75em;
  }   
#crumbs li a {
  background:url(crumbs.gif) no-repeat right center;
  display:block;
  padding:0 15px 0 0;
  }   
            
#crumbs li a:link, 
#crumbs li a:visited {
  color:#777;
  text-decoration:none;
  } 

#crumbs li a:hover, 
#crumbs li a:focus {
  color:#dd2c0d;
}


/* ---------------- pages actions ------------------- */
.pages_actions a {
}

.pages_actions li {
  display: inline;
}

/* ---------------- page actions ------------------- */

li.page {
  border-bottom-style: dotted;
  border-bottom-width: 1px; 
}

.page_actions li {
  display: inline;
}

ul.page_actions {
  display: inline;
  float: right;
  margin-right: 90px;
}

.page_actions a {

}

/* ---------------- page list --------------------*/

.page_title {
  font-style: italic;
}

.page_updated {
  font-size: small;
}

li.page {
  margin: 12px 0; 
}

/* --------------- vars ----------------------- */
.var_desc {
  font-weight: bold;
  font-size: 14px;
  display: block;
}
.rawinput input {
  width: 300px;
}
.errorlist {
  font-weight: bolder;
  color: red;
}

form.vars {
  margin-bottom: 5px;
}

/* ------------------ filter -------------------- */
#slugs a{
  text-decoration: none;
  color: black;
}

#langs a{
  text-decoration: none;
  color: black;
}
