body {
  background-color: #cccccc;
  /* width: 1024px; */
}

li {
  list-style-type: none;
}

a {
  color: red;
}


/* ------------------ flags ------------ */

img.flag {
  border-width: 1px;
  border-style: solid;
  margin-left: 5px;
}

/* -------------- sections ------------ */
#wrapper {
  border-style: solid;
  border-width: 1px;
  background-color: white;
  padding: 5px;
  width: 1200px;
  margin: 0 auto;
}

#header{
  height: 50px;
  background-color: gray;
}

#logout {
  margin: 0px 10px;
  float: right;
  background-color: #efeefe;
  padding: 2px;
  border-style: solid;
  border-width: thin;
  border-color: black;
  /*border-radius: 5px; */
  width: 70px;
  text-decoration: none;
  text-align: center;
  
}

#breadcrumb {
  background-color: #eed0ee;
}

#flash {
  background-color: #d0eeee;
  padding: 8px;
  top: 5px;
  width: 400px;
  margin: 0 auto;  
  border-style: solid;
  border-width: thin;
  margin-bottom: 5px;
}

#footer {
  background-color: #d0eeff;
  clear: both;
}

/* ---------------- pages actions ------------------- */
.pages_actions a {
  border-style: solid;
  border-width: thin;
  border-color: black;
  /*border-radius: 5px; */
  padding: 2px;  
  text-decoration: none;
  background-color: #efeefe;
  white-space: nowrap;

}

.pages_actions li {
  display: inline;
}

/* ---------------- page actions ------------------- */

.page_actions li {
  display: inline;
}

ul.page_actions {
  display: inline;
  float: right;
}

.page_actions a {
  border-style: solid;
  border-width: thin;
  border-color: black;
  /*border-radius: 5px; */
  padding: 2px;  
  text-decoration: none;
  background-color: #efeefe;
  
}

/* ---------------- page list --------------------*/

.page_title {
  font-style: italic;
}

.page_updated {
  font-size: small;
}

li.page {
  margin: 12px 0; 
}




