/* ----------------- layout (body/wrapper) ---------------- */
body {
  background-color: #FFFF99;
}

#wrapper {
  border-style: solid;
  border-width: 1px;
  background-color: #CCCC99;
  width: 1000px;
  height: 800px;
  margin: 0 auto;
}

iframe {
  width: 800px;
  border-style: none;
  border-width: 0;
  overflow: hidden;
  height: 700px;
}

/* ----------------- header ---------------- */
#header{
  height: 150px;
  background-color: red;
}

img#logo {
  border-width: 3px;
  border-style: solid;
  border-color: #7d6b72;
}

/* flags */
a.flag {
  float: right;
  margin: 1px 2px;
  padding: 0;
  border-width: 0;
}

img.flag {
  border-width: 1px;
  border-style: solid;
  border-color: #2F4F4F;  
  height: 13px;
  width: 25px;
}

img.current_flag {
  border-width: 2px; 
  border-color: black;  
}

/* ----------------- navigation ---------------- */
div#navigation {
  background: yellow;
  width: 200px;
  float: left;
  text-align: center;  
  padding: 0;
  margin: 0;
  height: 600px;
}

#navigation ul {
  margin-top: 50px;
  padding: 0; 
}

#navigation a {
  color: red;
  text-decoration: none;
}

#navigation li {
  list-style-type: none;
  font-size: 22px;
  margin-bottom: 10px;
}

li#current_page {
  font-weight: bolder; 
}


/* ----------------- content ---------------- */
#content {
  width: 800px;
  margin-left: 200px;
  overflow-y: auto;
  
}

/* ----------------- footer ---------------- */
div#footer {
  background: #800000;
  clear: both;
  height: 150px;
}
