{% extends "admin/base.html" %}
{% block content %}
<ul id="admin_actions">    
  <li><a class="abutton admin_action" href="{{uri_for('pages')}}">Strony</a> - przejdź do aktulizacji i edycji stron</li>
  <li><a class="abutton admin_action" href="{{uri_for('update_cache')}}">Aktualizuj cache</a> - odśwież cały cache</li>
  <li><a class="abutton admin_action" href="{{uri_for('vars')}}">Ustawienia</a>  - przejdź do zmiany ustawień</li>
  <li><a class="abutton admin_action" href="{{uri_for('photos')}}">Zdjęcia</a>  - przejdź do obsługi zdjęć</li>
</ul>


{% endblock %}