<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <title>Admin</title>
        <link rel="stylesheet" type="text/css" href="/static/admin.css" />        
    </head>    
    <body>
        <div id="wrapper">
            <div id="header">
                <a id="logout" href="{{create_logout_url('/admin')}}">Wyloguj</a>
        
                {% if handler.flash %}        
                    <div id="flash">{{ handler.flash }} </div>
                {% endif %}
            
                <div id="breadcrumb">
                    <a href="/">Home</a>/{% block breadcrumb %}
                        <a href="{{uri_for('admin')}}">Admin</a>            
                    {% endblock %}
                </div>
            </div>
            
            <div id="content">{% block content %}{% endblock %}</div>
            
            <div id="footer">
                {% block footer %}
                    &copy; Copyright 2011 by Paweł Pałucki.
                {% endblock %}
            </div>
        </div>
    </body>    
</html>