{% extends "admin/base.html" %}
{% block breadcrumb %}{{super()}}/Vars{% endblock %}
{% block content %}
<hr>
{% for form,var in forms_and_vars %}
    <form method="POST">
        <input type="hidden" name="name" value="{{var.name}}" />
        <span> {{ var.desc }}</span> 
        (<b>{{Var.get_value(var.name)}}</b>): 
        {{ form.raw() }}
        {% if form.raw.errors %}
        <ul class="errorlist">
           {% for error in form.raw.errors %}        
           <li>{{ error }}</li>
           {% endfor %}
        </ul>
        {% endif %}        
        <input type="submit" value="Zapisz" />
    </form>
{% endfor %}
<hr>
<h2>Dodatkowe akcje</h2>
<ul>
    <li><a href="{{uri_for('update_vars')}}">Aktualizuj zmienne z settings.</li>
</ur>

{% endblock %}